@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner-overlay {
    position: fixed;
    top: 0;         
    left: 0;         
    width: 100%;     
    height: 100%;   
    background: rgba(255, 255, 255, 0.8); 
    display: flex;  
    justify-content: center;
    align-items: center;
}

.spinner-overlay img {
    width: 20px;
    height: 20px;
}


.content-truncate {
    max-height: 5em; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cloud{ 
    width:350px;
    height:120px;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    border-radius:100px;
    margin-top:20px;
    margin-bottom: 90px; 
    position: relative;
    z-index: 0;
}
.cloud::after, 
.cloud::before{
    content:"";
    position:absolute;
    display:inline-block;
    background:inherit;
    border-radius:inherit;
    z-index: -1;
}
.cloud::after{
    width:100px;
    height:100px;
    top:-30px;
    left:50px;
}
.cloud::before{
    width:180px;
    height:180px;
    top: -70px;
    left:130px;
}

.cloud:hover{
    background: rgb(201, 240, 255);
}

.content {
    position: relative;
    padding: 20px;
    z-index: 1;
}

.fade-in {
    opacity: 0;
    transition: opacity 2s ease-in;
}
  
.fade-in:hover {
opacity: 1;
}